In [ ]:
#THERE IS PRESENTED THE WORKFLOW OF HANDLING TASK 2 FROM STAÅ» BSH ASSIGNMENT

In [2]:
import pandas as pd
import numpy as np
import random

# Generate 20 unique APPLIANCE_IDs
appliance_ids = list(range(1000101, 1000121))  # 20 unique IDs

# Generate 20 unique MODEL_IDs
model_ids = [f"Model-{i}" for i in range(1, 21)]  # 20 unique model IDs

# Create random COOKZONE_ID, MESSAGE_TEXT, and EVENT_DATETIME for each APPLIANCE_ID
num_events_per_appliance = 5  # Let's have 5 events per APPLIANCE_ID

# List of possible COOKZONE_IDs, MESSAGE_TEXTs
cookzones = ['A', 'B', 'C', 'D', 'N/A']
message_texts = ["Activated", "Deactivated", "Appliance turned on", "Appliance turned off",
                 "Power set to 1", "Power set to 2", "Power set to 3", "Power set to 4",
                 "Power set to 5", "Power set to 6", "Power set to 7", "Power set to 8",
                 "Power set to 9"]

# Initialize lists for each column
appliance_id_list = []
model_id_list = []
cookzone_list = []
event_datetime_list = []
message_text_list = []

# Loop through each APPLIANCE_ID and generate multiple events
for appliance_id in appliance_ids:
    model_id = random.choice(model_ids)  # Randomly select a model for each APPLIANCE_ID
    for _ in range(num_events_per_appliance):
        cookzone = random.choice(cookzones)
        event_datetime = pd.Timestamp(np.random.randint(2020, 2023),  # Random year
                                      np.random.randint(1, 13),  # Random month
                                      np.random.randint(1, 29),  # Random day
                                      np.random.randint(0, 24),  # Random hour
                                      np.random.randint(0, 60),  # Random minute
                                      np.random.randint(0, 60))  # Random second
        message_text = random.choice(message_texts)
        
        # Append to lists
        appliance_id_list.append(appliance_id)
        model_id_list.append(model_id)
        cookzone_list.append(cookzone)
        event_datetime_list.append(event_datetime)
        message_text_list.append(message_text)

# Create DataFrame
data = {
    'APPLIANCE_ID': appliance_id_list,
    'MODEL_ID': model_id_list,
    'COOKZONE_ID': cookzone_list,
    'EVENT_DATETIME': event_datetime_list,
    'MESSAGE_TEXT': message_text_list
}

df = pd.DataFrame(data)

# Shuffle the DataFrame
df = df.sample(frac=1).reset_index(drop=True)

# Display the DataFrame
print(df.head())

   APPLIANCE_ID  MODEL_ID COOKZONE_ID      EVENT_DATETIME  \
0       1000115  Model-18           C 2020-03-16 15:55:16
1       1000117   Model-6         N/A 2020-11-03 03:04:45
2       1000120   Model-3           A 2022-07-28 08:20:25
3       1000120   Model-3           A 2021-12-27 19:08:31
4       1000119  Model-18         N/A 2022-05-20 13:57:02

           MESSAGE_TEXT
0        Power set to 2
1  Appliance turned off
2  Appliance turned off
3        Power set to 2
4        Power set to 1

In [3]:
df.head()

,APPLIANCE_ID,MODEL_ID,COOKZONE_ID,EVENT_DATETIME,MESSAGE_TEXT
0,1000115,Model-18,C,2020-03-16 15:55:16,Power set to 2
1,1000117,Model-6,N/A,2020-11-03 03:04:45,Appliance turned off
2,1000120,Model-3,A,2022-07-28 08:20:25,Appliance turned off
3,1000120,Model-3,A,2021-12-27 19:08:31,Power set to 2
4,1000119,Model-18,N/A,2022-05-20 13:57:02,Power set to 1

In [34]:
df = pd.DataFrame(data)

# Filter for "Activated" events
activated_df = df[df['MESSAGE_TEXT'] == 'Activated']

# Count the number of activations for each MODEL_ID
model_usage = activated_df['MODEL_ID'].value_counts().reset_index()
model_usage.columns = ['MODEL_ID', 'Activation_Count']

# Create a DataFrame with all unique MODEL_IDs
all_models = pd.DataFrame(df['MODEL_ID'].unique(), columns=['MODEL_ID'])

# Merge to include all models even if they have 0 activations
model_usage_all = pd.merge(all_models, model_usage, on='MODEL_ID', how='left').fillna(0)

print(model_usage_all)

    MODEL_ID  Activation_Count
0    Model-2               1.0
1   Model-14               0.0
2    Model-4               1.0
3   Model-10               0.0
4   Model-12               0.0
5   Model-13               0.0
6    Model-9               1.0
7    Model-7               0.0
8   Model-19               3.0
9   Model-18               2.0
10  Model-20               0.0
11   Model-8               0.0
12   Model-6               1.0
13   Model-3               2.0

In [36]:
model_usage_all.to_excel('appliance_data3.xlsx', index=False)

In [10]:
df.shape

(100, 5)

In [27]:
df.MODEL_ID.unique()

array(['Model-18', 'Model-6', 'Model-3', 'Model-12', 'Model-19',
       'Model-10', 'Model-2', 'Model-20', 'Model-8', 'Model-13',
       'Model-4', 'Model-14', 'Model-9', 'Model-7'], dtype=object)

In [19]:
# Export DataFrame to Excel
df.to_excel('appliance_data.xlsx', index=False)

print("DataFrame exported to Excel successfully.")

DataFrame exported to Excel successfully.

In [20]:
# Filter for "Activated" and "Deactivated" events
filtered_df = df[df['MESSAGE_TEXT'].isin(['Activated'])]

# Group by MODEL_ID and count occurrences of "Activated" and "Deactivated"
counts = filtered_df.groupby(['MODEL_ID', 'MESSAGE_TEXT']).size().unstack(fill_value=0)

# Reset index for better visualization (optional)
counts.reset_index(inplace=True)

# Rename columns
counts.columns.name = None  # Remove the column index name
counts.columns = ['MODEL_ID', 'Activated']

In [22]:
counts.head(20)

   MODEL_ID  Activated
0  Model-18          2
1  Model-19          3
2   Model-2          1
3   Model-3          2
4   Model-4          1
5   Model-6          1
6   Model-9          1

In [23]:
counts.to_excel('appliance_data1.xlsx', index=False)

In [25]:
# Convert 'EVENT_DATETIME' to datetime format
df['EVENT_DATETIME'] = pd.to_datetime(df['EVENT_DATETIME'])

# Extract the hour from 'EVENT_DATETIME'
df['HOUR'] = df['EVENT_DATETIME'].dt.hour

# Group by 'HOUR', then count the occurrences
usage_by_hour = df.groupby('HOUR').size().reset_index(name='Total_Activation_Count')

print(usage_by_hour)

    HOUR  Total_Activation_Count
0      0                       5
1      1                       1
2      2                       1
3      3                       4
4      4                       4
5      5                       3
6      6                       6
7      7                       2
8      8                       6
9      9                       6
10    10                       2
11    11                       1
12    12                       1
13    13                       8
14    14                       6
15    15                       4
16    16                       5
17    17                       6
18    18                       5
19    19                       6
20    20                       6
21    21                       7
22    22                       1
23    23                       4

In [26]:
usage_by_hour.to_excel('appliance_data2.xlsx', index=False)

In [31]:
df = pd.DataFrame(data)

# Filter for "Activated" events
activated_df = df[df['MESSAGE_TEXT'] == 'Activated']

# Count the number of activations for each MODEL_ID
model_usage = activated_df['MODEL_ID'].value_counts().reset_index()
model_usage.columns = ['MODEL_ID', 'Activation_Count']

# Create a DataFrame with all unique MODEL_IDs
all_models = pd.DataFrame(df['MODEL_ID'].unique(), columns=['MODEL_ID'])

# Merge to include all models even if they have 0 activations
model_usage_all = pd.merge(all_models, model_usage, on='MODEL_ID', how='left').fillna(0)

print(activated_df)

    APPLIANCE_ID  MODEL_ID COOKZONE_ID      EVENT_DATETIME MESSAGE_TEXT
10       1000103   Model-4         N/A 2020-01-10 21:29:09    Activated
35       1000108   Model-9           D 2021-04-16 08:04:30    Activated
45       1000110  Model-19           A 2021-01-08 16:05:34    Activated
47       1000110  Model-19           A 2020-09-22 21:25:11    Activated
52       1000111  Model-18           D 2020-10-05 12:00:37    Activated
68       1000114  Model-19           D 2021-02-26 19:46:15    Activated
73       1000115  Model-18         N/A 2021-02-02 21:12:08    Activated
78       1000116   Model-2           A 2021-02-15 06:05:05    Activated
83       1000117   Model-6           D 2022-07-01 18:30:04    Activated
96       1000120   Model-3           A 2020-04-26 15:29:25    Activated
99       1000120   Model-3           C 2021-09-15 14:05:48    Activated